.item{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid;
  margin: 30px;
  width: 400px;
  box-shadow: 0px 5px 10px black;
  background-color: rgb(54, 54, 238);
}

.check-item{
  position: relative;
  top: 15px;
  left: 0px;
  margin-right: 15px;
}

.check-item--active{
  color: lime;
}

.text-item--completed{
  text-decoration: line-through;
}

.delete-item{
  position: relative;
  top: 15px;
  right: 5px;
  margin-left: 15px;
  font-weight: 700;
}

.delete-item:hover {
  color: red;
  cursor: pointer;
}

.check-item:hover{
  color: lime;
  cursor: pointer;
}